<div class="callout callout--primary">
  <grid class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get Started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, enim nihil
        nemo ipsum ratione corrupti, natus eaque aperiam beatae assumenda in
        blanditiis asperiores a, porro voluptatem ducimus impedit deleniti eos.
      </p>
    </div>
    <a href="" class="btn btn--secondary btn--stretched">Get started</a>
  </grid>
</div>
